/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 0.85em;
    line-height: 1.4;
    overflow: hidden;
/*    min-height: 800px;*/
}

body {
    overflow: hidden;
    background: #f6f6f6;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.row,.col {
    overflow: hidden;
    position: absolute;
}

.row {
    left: 0;
    right: 0;
}

.col {
    top: 0;
    bottom: 0;
}

.scroll-x {
    overflow-x: auto
}

.scroll-y {
    overflow-y: auto
}

.scroll-x,.scroll-y {
    -webkit-overflow-scrolling: touch
}

.post-comment-header .wrapper {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2.8em;
    position: absolute;
}

#post-message-header {
    position: relative;
    height: 100%;
    margin-left: 60px;
}

#post-message-header .wrapper {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 6.8em;
    position: absolute;
}

.post-comment-header .timestamp,#post-message-header .timestamp {
    display: block;
    font-weight: normal;
    color: black;
}

.selected-nav {
    color: #ffffff !important;
    text-decoration: none !important;
    border: 1px solid #0073ea !important;
    background: #0073ea url(flick-red/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x !important; /* Custom Flick */
    /*    background: #1c94c4 !important;*/
    font-weight: bold !important;
}

#main-panel {
    right: 0;
    left: 0;
}

.floating-panel {
    width: 950px;
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.close-button {
    background-image: url('/img/panel-close.png');
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    z-index: 1001;
    position: absolute;
    right: 0;
    top: -5px;
    display: none;
}

.close-button:hover {
    background-image: url('/img/panel-close-hover.png');
    cursor: pointer;
}

.close-button:active {
    background-image: url('/img/panel-close-active.png');
}

.floating-panel > .floating-panel-content {
    border: 1px solid #ccc;
/*    box-shadow: 8px 8px 5px #888888;*/
/*    border-radius: 5px;*/
    position: absolute;
    bottom: 25px;
    top: 25px;
    left: 0;
    right: 0;
    padding: 10px;
    padding-top: 20px;
}

.floating-panel-content > #panel-post-left {
    left: 0;
    right: 320px;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
}

.floating-panel-content > #panel-post-right {
    width: 300px;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
}

.ajax-loading-div {
    background: white;
    background-image: url('/img/ajax.gif');
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

.selection-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.selection-item {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
}

.selection-item .ui-icon {
    display: inline-block;
}

.selection-item div {
    margin-left: 10px !important;
}

.floating-panel.narrow-floating-panel {
    width: 500px !important;
}

#post-comment-heading {
    color: #737373;
    display: block;
    font-weight: bold;
}

/*#app-content {
    border-bottom: 1px solid #ccc;
}*/

#post-feed-noposts {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 3em;
    color: #a7a7a7;
    text-align: center;
}

.body.row {
    top: 60px;
    bottom: 0;
}

.border {
    border: 1px solid #ccc
}

#ad-space {
    margin-top: 10px;
    border: red dashed;
}

.float-left {
    float: left;
}

.left-margin {
    margin-left: 5px;
}

.float-right {
    float: right;
}

.right-margin {
    margin-right: 5px;
}

.button {
    cursor: pointer;
    min-width: 100px;
    color: #444;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.button > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.button:hover {
    background-color: #b3d4fc;
}

.nav-button {
    display: block;
    height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
}

.button.toolbar-button {
    height: 40px;
    line-height: 40px;
    border: 1px solid transparent;
}

.button.toolbar-button:hover, .button.nav-button:hover {
    border: 1px solid #ccc;
}

.button.post-button {
    display: inline-block;
    min-width: 112px;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #ddd;
}

.button-icon {
    height: 20px;
    width: 20px;
    margin-right: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.button-icon.icon-new {
    background-image: url('/icons/paperplus32.png');
}

.button-icon.icon-refresh {
    background-image: url('/icons/exchange32.png');
}

.button-icon.icon-search {
    background-image: url('/icons/search32.png');
}

/*http://jsfiddle.net/E78q3/*/

.post-block {
    display: inline-block;
    background: white;
    height: 200px;
    width: 250px;
/*    border: 1px solid #ddd;*/
    overflow: hidden;
    margin: 5px;
    margin-bottom: 2px;
    cursor: pointer;
    color: #444;
}

.post-block.post-block-text > p {
    padding: 20px;
}

.post-block.post-block-image {
    padding: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.post-tile {
    width: 300px;
    height: 200px;
    margin: 4px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    font-weight: normal !important;
    overflow: hidden;
}

.post-tile * {
    font-size: 0.81em;
}

.post-tile-multi .post-tile-primary-content {
    height: 150px;
    width: 200px;
    background-image: url('/img/no-image.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 5px;
}

.post-tile-multi .post-tile-secondary-content {
    height: 48px;
    overflow: hidden;
}

.post-tile-image .post-tile-primary-content{
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.post-tile-image .post-tile-secondary-content{
    display: none;
}

.wrappable-link {
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.panel-post-column > * {
    margin-bottom: 10px;
}

.floating-panel-content > * {
    margin-bottom: 10px;
}

#post-image-container {
    padding: 10px;
    height: 350px;
}

#post-image-container > * {
    font-size: 0.9em;
}

#post-image {
    background-position: center center;
    border: 1px solid #ccc;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 350px;
}

#overlay-app-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}

#post-no-image {
    background-position: center center;
    /*    background-size: 50%;*/
    background-repeat: no-repeat;
    background-image: url("/img/no-image.png");
    height: 350px;

}

#post-permalink {
    padding: 7px;
}

#post-button-bar {
    width: 100%;
}

#post-button-bar > div {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 236px;
}

#post-button-comment {
    position: relative;
    height: 32px;
}

#post-button-comment > div {
    width: 115px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#panel-post {
    padding: 10px;
}

#post-message-pic {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#post-message-user {
    padding: 5px;
}

#post-message-name {
    margin-top: 5px;
}

#post-message-text {
    padding: 10px;
}

#post-nocomments {
    font-style: italic;
}

.post-comment {
    margin-bottom: 8px;
    font-size: 0.9em !important;
}

#overlay {
    background: #ddd;
    position: absolute;
    opacity: 0.75;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
}

/*.post-comment .ui-state-default {
    padding: 5px;
    position: relative;
}

.post-comment-user-image {
    background-position: center;
    background-size: 100%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    display: inline-block;
}

.post-comment-header {
    height: 100%;
    margin-left: 60px;
}

.post-comment a:hover, #post-message-user a:hover {
    text-decoration: underline;
}*/

/*.post-comment .ui-widget-content {
    padding: 3px;
}*/

.ui-widget {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
    border-radius: 5px;
}

div.right-toolbar-button {
    display: inline-block;
    margin-left: 5px;
}

.menu {
    position: absolute;
    display: none;
}

#post-feed {
    margin-left: 200px;
    margin-top: 52px;
    position: relative;
    min-height: 800px;
}

#left-rail {
    width: 180px;
    position: fixed;
    padding: 5px;
}

#left-rail-nav {
}

#main-toolbar {
    top: 0;
    position: fixed;
    width: 100%;
/*    border-bottom: 1px solid #ccc;*/
}

.toolbar {
    height: 42px;
    line-height: 42px;
    display: block;
}

.semi-transparent {
    opacity: 0.7;
}

div.login-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
}

#post-comment-text {
    border-width: 2px;
    height: 4.5em;
    padding: 2px;
    position: relative;
}

#post-comment-text > textarea {
    border: transparent;
    width: 100%;
    height: 100%;
    margin-left: -2px;
    margin-top: -2px;
}

/* Ellipses */

p { 
    margin: 0; 
    padding: 0; 
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    /*    display: none !important;*/
    display: none;
    /*    visibility: hidden;*/
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}