/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 0.82em;
    line-height: 1.4;
    overflow: hidden;
    font-family: Arial,Helvetica,sans-serif;
    /*    min-height: 800px;*/
}

body {
    overflow: hidden;
    background-color: #f1f1f1;
    /*    background: url(/img/textured_paper.png);*/
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 8em;
    font-family: monospace;
    font-size: 13px;
}

input[type=text] {
    border: 1px solid #ccc;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    text-decoration: none;
    color: #105cb6;
    font-weight: bold;
}

/* Automatically wrap long links. */
a {
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #105cb6;
}

/*#post-count {
    line-height: 42px;
    height: 42px;
    font-weight: bold;
    color: #f6f6f6;
    margin-right: 10px;
    font-size: 1.1em;
}*/

.row,.col {
    overflow: hidden;
    position: absolute;
}

.row {
    left: 0;
    right: 0;
}

.col {
    top: 0;
    bottom: 0;
}

.scroll-x {
    overflow-x: auto
}

.scroll-y {
    overflow-y: auto
}

.scroll-x,.scroll-y {
    -webkit-overflow-scrolling: touch
}

.post-comment-header .wrapper {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2.8em;
    position: absolute;
}

.post-block .timestamp {
    display: block;
    color: #4d81bf;
    margin-bottom: 6px;
}

.post-block.hidden-block .timestamp, .hover .timestamp {
    color: white;
}

.text-centered {
    text-align: center;
}

.nav-button.selected-nav {
    color: #ffffff;
    text-decoration: none;
    background-color: #e35765;
    font-weight: bold;
}

.search-box {
    height: 1.5em;
    padding: 6px 10px 6px 10px;
    width: 138px;
    resize: none;
}

.full-width {
    left: 0;
    right: 0;
}

.full-height {
    top: 0;
    bottom: 0;
}

.floating-panel {
    /*    width: 950px;*/
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

/*#select-group-panel {
    width: 1030px;
}*/

.close-button {
    height: 20px;
    width: 20px;
    z-index: 1001;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url('/img/panel-close.png');
    background-repeat: no-repeat;
}

.divider {
    margin-left: 5px;
    margin-right: 5px;
    height: 8px;
    width: 8px;
    display: inline-block;
    background-image: url('/img/divider.png');
}

.close-button:hover {
    background-image: url('/img/panel-close-hover.png');
    cursor: pointer;
}

.delete-button {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url('/img/delete.png');
    background-repeat: no-repeat;
}

.delete-button:hover {
    background-image: url('/img/delete-hover.png');
    cursor: pointer;
}

.floating-panel > .floating-panel-content {
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
    position: absolute;
    bottom: 25px;
    top: 25px;
    left: 0;
    right: 0;
    padding: 10px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.floating-panel.fullsize {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.floating-panel.collapsed {
    width: auto;
    margin-left: 120px;
    margin-right: 120px;
}

/*#details-left-column {
    width: 350px;
    padding-right: 8px;
}

#details-right-column {
    left: 392px;
    padding-right: 8px;
    overflow: hidden;
}*/

.ajax-loading-div {
    background: white;
    background-image: url('/img/ajax.gif');
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 2px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
}

.comment-control {
    text-align: right;
}

/*.comment-control :not(:last-child) {
    margin-right: 5px;
}*/

.transparent {
    background: transparent;
}

.selection-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: -5px;
}

.block.hover {
    /*    background-color: #f6f6f6;
        color: #444;*/
    background-color: #4395D1;
    color: white;
    cursor: pointer;
}

.selection-item {
    margin: 3px;
    padding: 4px !important;
    position: relative;
    display: inline-block;
}

/*.button.selection-item.hover {
    background-color: #ccc;
    color: #444;
}*/

.selection-item-content {
    display: table-cell !important;
    vertical-align: middle;
    text-align: center;
    height: 150px;
    width: 150px;
}

.selection-item-content > div {
    /*    margin-left: 10px !important;*/
    /*    text-align: center;*/
}

.selection-item-content .button-icon {
    display: inline-block;
}

.floating-panel.narrow-floating-panel {
    width: 500px !important;
}

.floating-panel-content .heading {
    color: #444;
    display: block;
    font-weight: bold;
    font-size: 1.05em;
    margin-bottom: 4px;
    /*    padding: 7px;
        border: none !important;*/
}

.body.row {
    top: 60px;
    bottom: 0;
}

.border {
    border: 1px solid #ccc
}

.ad-div {
    overflow: hidden;
}

.post-block.ad-div {
    background-color: #f6f6f6;
    color: #e35765;
}

.float-left {
    float: left;
}

.left-margin {
    margin-left: 5px;
}

.float-right {
    float: right;
}

.right-margin {
    margin-right: 5px;
}

.button, .menu-item {
    cursor: pointer;
    color: #444;
    /*    color: #f6f6f6;*/
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: inline-block;
}

.button a:hover {
    text-decoration: none;
}

.button a:visited {
    text-decoration: none;
    color: #444;
}

.button > span, .menu-item > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/*.button:hover, 
.menu-item:hover {
    background-color: #aaa;
    color: #f6f6f6;
}*/

.button.hover, .menu-item.hover {
    background-color: #aaa;
    color: #f6f6f6;
}

/*.nav-button {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 0.95em;
    background-color: #ddd;
}*/

.button.toolbar-button, .toolbar-item {
    height: 42px;
    line-height: 42px;
    border-radius: 0;
    font-size: 1.1em;
    /*    color: #f6f6f6;*/
}

.toolbar-item {
    display: inline-block;
}

.button.menu-button {
    border-radius: 0;
    color: #f6f6f6;
    font-size: 1.1em;
}

.button.toolbar-button.hover {
    color: #f6f6f6;
}

.button-icon {
    height: 20px;
    width: 20px;
    margin-right: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.button-icon.icon-new {
    background-image: url('/icons/paperplus32.png');
}

.button-icon.icon-facebook {
    background-image: url('/icons/users32.png');
}

.button-icon.icon-refresh {
    background-image: url('/icons/exchange32.png');
}

.button-icon.icon-search {
    background-image: url('/icons/search32w.png');
}

.button-icon.icon-menu {
    background-image: url('/icons/gear32.png');
}

.button-icon.icon-comment {
    background-image: url('/icons/comment32.png');
}

.button-icon.icon-like {
    background-image: url('/icons/heart32.png');
}

.button-icon.icon-pm {
    background-image: url('/icons/mail32.png');
}

.button-icon.icon-delete {
    background-image: url('/icons/recycle32.png');
}

.toolbar-button:hover .button-icon.icon-new {
    background-image: url('/icons/paperplus32w.png');
}

.toolbar-button:hover .button-icon.icon-facebook {
    background-image: url('/icons/users32w.png');
}

.toolbar-button:hover .button-icon.icon-refresh {
    background-image: url('/icons/exchange32w.png');
}

.toolbar-button:hover .button-icon.icon-menu {
    background-image: url('/icons/gear32w.png');
}

.toolbar-button:hover .button-icon.icon-comment {
    background-image: url('/icons/comment32w.png');
}

.toolbar-button:hover .button-icon.icon-like {
    background-image: url('/icons/heart32w.png');
}

.toolbar-button:hover .button-icon.icon-pm {
    background-image: url('/icons/mail32w.png');
}

.toolbar-button:hover .button-icon.icon-delete {
    background-image: url('/icons/recycle32w.png');
}

.no-min-width {
    min-width: 0;
}

.button.icon-only > .button-icon {
    margin-right: 0;
}

.padded-button {
    padding-left: 20px;
    padding-right: 20px;
}

/*.button.emphasized {
    font-weight: bold;
}*/

.button.emphasized.hover {
    background-color: #e35765;
}

.block {
    box-shadow: #ccc 1px 1px 4px;
/*    border-radius: 2px;*/
    background-color: white;
}

/*http://jsfiddle.net/E78q3/*/

.post-block {
    display: inline-block;
    height: 250px;
    width: 300px;
    overflow: hidden;
    margin: 3px;
    margin-bottom: -1px;
    cursor: pointer;
    position: relative;
}

.post-block .comment-count {
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #4DB849;
    color: #f6f6f6;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
    border-radius: 3px;
}

.post-block .comment-count.updated {
    background-color: #e35765;
}

.post-block .visible-content {
    background-size: cover;
    height: 250px;
    width: 300px;
    display: inline-block;
}

.post-block.load-more {
    padding: 0;
    position: relative;
    background-color: #e35765;
    color: #f6f6f6;
    background-image: none;
    font-weight: bold;
}

.linkdata > *:not(:last-child) {
    margin-bottom: 1em;
    display: block;
}

.linkdata {
    border: 1px solid #ccc;
    padding: 5px;
}

.facebook-user-header {
    padding: 5px;
}

.load-more > .load-more-text {
    line-height: 250px;
    vertical-align: middle;
    font-size: 1.15em;
}

.facebook-user-header .post-permalink {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 1.3em;
    margin-right: 10px;
    color: #f6f6f6;
}

.hint {
    color: #888;
    display: block;
    font-style: italic;
}

.post-block.post-block-text .wrapper,
.post-block.post-block-link .wrapper,
.post-block.post-block-textlink .wrapper {
    overflow: hidden;
    height: 250px;
}

.post-block.post-block-text .content,
.post-block.post-block-link .content,
.post-block.post-block-textlink .content {
    overflow: hidden;
    height: 16.0em;
    padding: 12px;
}

.post-block.hidden-block {
    margin: 0 !important;
    display: inline-block;
}

.post-block.load-more.hover {
    background-color: #aaa;
}

/*.post-block .text {
    margin-top: 5px;
}*/

.post-block .user-image, .post-block .link-image {
    height: 60px;
    width: 60px;
    background-size: cover;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

.post-block .link-title, .post-block .user-name {
    font-weight: bold;
    display: block;
    max-width: 230px;
}

.post-block .link-title {
    margin-bottom: 6px;
}

a.link-title {
    color: #105cb6;
    display: block;
}

.post-block.post-block-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.wrappable-link {
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.floating-panel-section {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
}

.ui-effects-transfer {
    border: 2px dotted gray;
}

.no-scroll-y {
    overflow-y: hidden;
}

.no-scroll-x {
    overflow-x: hidden;
}

.absolute-fullsize, .floating-overlay, .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.no-padding {
    padding: 0;
}

.post-image-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-image-container .post-image-tile.expanding {
    position: absolute;
}

.post-image-container .post-image-tile.expanded, .post-image-container .post-image-tile.single {
    background-size: contain;
    width: auto !important;
    height: auto !important;
    margin: 10px;
}

.post-image-container .post-image-tile {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
}

.post-comment .post-comment-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    height: 200px;
    width: 295px;
    border: 1px solid #ccc;
}

.post-image-container .post-image-tile.right {
    margin-right: 10px;
}

.floating-panel-content .column {
    position: absolute;
    top: 25px;
    bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

.floating-panel-content .column.right {
    right: 25px;
    left: 392px;
    padding-right: 8px;
    overflow: hidden;
}

.floating-panel-content .column.left {
    left: 25px;
    width: 350px;
    padding-right: 8px;
}

.floating-panel-content.narrow {
    width: 755px;
    height: 600px;
    margin-top: auto;
    margin-bottom: auto;
}

.floating-panel-content.narrow .column {
    width: 350px;
}

.post-image-container-empty {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.post-image-container-empty .hint {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 10px auto 10px;
    height: 6em;
}

.user-data-header {
    height: 60px;
}

.navigation {
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 1001;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    opacity: 0.05;
    cursor: pointer;
}

.navigation.hover {
    opacity: 0.8;
}

.navigation.prev {
    left: 10px;
    background-image: url('/img/nav-prev.png');
}

.navigation.next {
    right: 10px;
    background-image: url('/img/nav-next.png');
}

.floating-panel-section :last-child {
    margin-bottom: 0;
}

.floating-panel-section :first-child {
    margin-top: 0;
}

.post-activity-section .facebook-user-photo {
    height: 60px;
    width: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-right: 5px;
}

.post-activity-section.post-comment .facebook-user-photo {
    height: 37px;
    width: 37px;
}

.italic {
    font-style: italic;
}

.post-activity-section {
    margin-bottom: 12px;
    position: relative;
    padding: 10px;
}

.post-comment a:first-child {
    font-size: 0.98em;
}

/*.post-activity-section > .activity-text {
    font-size: 0.95em;
}*/

.post-activity-section > * {
    margin-top: 8px;
}

.overlay {
    background: #ddd;
    opacity: 0.90;
    z-index: 999;
}

.message.overlay {
    z-index: 2000;
}

.ui-widget {
    background-color: #f1f1f1;
    border-radius: 2px;
}

.menu {
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
}

.right-toolbar-button {
    display: inline-block;
    margin-left: 5px;
}

.menu {
    position: absolute;
    display: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
}

.menu > *:not(.menu-item) {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.menu > *:last-child {
    margin-bottom: 5px;
}

.floating-panel-menu {
    z-index: 1002;
}

.menu-item {
    height: 40px;
    line-height: 40px;
    min-width: 100px;
    display: block;
}

.main-feed {
/*    margin-left: 200px;*/
    margin-top: 47px;
    position: relative;
    padding-bottom: 25px;
    min-height: 1500px;
    padding: 10px;
}

.rail {
    width: 160px;
    position: absolute;
    top: 55px;
    overflow: hidden;
    box-shadow: #aaa 1px 1px 4px;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 800;
}

.rail-toggle {
    z-index: 799;
}

.rail > *:not(:last-child) {
    margin-bottom: 8px;
}

.rail .separator {
    border-bottom: 1px solid #ccc;
}

.toolbar {
    height: 42px;
    line-height: 42px;
    display: block;
    border-radius: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    /*    background-color: #105cb6;
        box-shadow: #ccc 1px 1px 4px;*/
}

.toolbar.floating-panel-toolbar {
    z-index: 1001;
}

.semi-transparent {
    opacity: 0.7;
}

.login-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
}

.post-comment-wrapper > textarea {
    width: 100%;
}

.post-comment-wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    border-radius: 5px;
}

.dialog-group {
    float: right;
    margin-bottom: 0;
}

.dialog-group :not(:first-child) {
    margin-left: 7px;
}

.dialog-button {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 0.95em;
    background-color: #ddd;
    width: 80px;
}

.floating-panel-content.dialog-box {
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 190px;
    width: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.modal {
    z-index: 2001;
}

.dialog-box .message {
    height: 156px;
    margin-bottom: 0;
    display: table;
}

.dialog-box .message .message-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 160px;
    display: table-cell;
}

.dialog-box .message .message-text {
    vertical-align: middle;
    display: table-cell;
}

.dialog-box.error .message-icon {
    background-image: url('/img/error.png');
}

.dialog-box.info .message-icon {
    background-image: url('/img/info.png');
}

.dialog-box.confirm .message-icon {
    background-image: url('/img/confirm.png');
}

/* Ellipses */

p { 
    margin: 0; 
    padding: 0; 
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}