/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 0.85em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.row,.col {
    overflow: hidden;
    position: absolute;
}

.row {
    left: 0;
    right: 0;
}

.col {
    top: 0;
    bottom: 0;
}

.scroll-x {
    overflow-x: auto
}

.scroll-y {
    overflow-y: auto
}

.scroll-x,.scroll-y {
    -webkit-overflow-scrolling: touch
}

/*.header.row {
    height: 50px;
    line-height: 50px;
    top: 0;
}*/

#main-panel {
    right: 0;
    left: 0;
}

#right-panel,#right-panel-empty {
    width: 360px;
    right: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    border-left: 8px solid #ccc;
}

.body.row {
    top: 60px;
    bottom: 0;
}

.border {
    border: 1px solid #ccc
}

#ad-space {
    margin-left: 10px;
    margin-right: 10px;
    border: red dashed;
}

.float-left {
    float: left;
}

.left-margin {
    margin-left: 5px;
}

.float-right {
    float: right;
    margin-right: 5px;
}

.right-margin {
    margin-right: 5px;
}

.post-tile {
    width: 200px;
    height: 200px;
    margin: 16px;
    padding: 9px;
    display: inline-block;
    cursor: pointer;
    font-weight: normal !important;
    border: 1px solid transparent;
}

.post-image {
    height: 150px;
    width: 200px;
    position: relative;
}

.post-image > img {
    max-height: 150px;
    max-width: 200px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.post-caption {
    text-align: center;
    height: 60px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    overflow: hidden;
    font-size: 0.8em;
    display: block;
}

.wrappable-link {
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#panel-post > * {
    margin-bottom: 10px;
}

#right-panel-empty {
    background: white;
}

#right-panel-empty > span {
    font-style: italic;
    text-align: center;
}

#panel-image {
    max-height: 360px;
    padding: 10px;
}

#panel-image > .panel-post-image {
    max-width: 280px;
    max-height: 280px;
    display: block;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ccc;
}

#overlay-app-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}

#panel-no-image {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
}

#panel-no-image > img {
    height: 100px;
    width: 100px;
    left: 0;
    right: 0;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#panel-post-permalink {
    margin-top: 1em;
    font-size: 0.9em;
}

#panel-no-image > span {
    font-style: italic;
    font-size: 0.9em;
    display: block;
}

#panel-post {
    padding: 10px;
}

#panel-message-pic {
    display: inline;
}

#panel-message-user {
    width: 100%;
}

#panel-message-name {
    display: inline;
    margin-left: 5px;
}

#panel-message-text {
    display: block;
    padding: 10px;
}

#panel-nocomments {
    font-style: italic;
}

div.right-toolbar-button {
    display: inline-block;
    margin-left: 5px;
}

.menu {
    position: absolute;
    display: none;
}

#group-feed {
    left: 190px;
    right: 368px;
    top: 0;
    bottom: 0;
    position: absolute;
}

#left-rail {
    width: 180px;
    bottom: 0;
    top: 0;
    position: absolute;
}

#left-rail-nav {
    list-style: none;
}

#main-toolbar {
    height: 50px;
    line-height: 50px;
    top: 0;
}

/* JQuery UI Overrides */

/*.ui-tabs-panel {
    overflow-y: auto;
}

.ui-tabs-vertical { 
    width: 55em; 
    left: 0;
    right: 0;
}
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { 
    padding: 1em; 
    float: right;
    right: 0;
    width: 40em; 
    right: 0;
}*/

/*#tabs-main .tabs-spacer { float: left; height: 200px; }
.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
.tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }*/

/* Ellipses */

p { 
    margin: 0; 
    padding: 0; 
}

.post-caption:before {
    content:"";
    float: left;
    width: 5px; 
    height: 67px; 
}

.post-caption > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px; }        

.post-caption:after {
    content: "\02026";  

    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;

    float: right; position: relative;
    top: -25px; left: 100%; 
    width: 3em; margin-left: -3em;
    padding-right: 5px;

    text-align: right;

    background: -webkit-gradient(linear, left top, right top,
        from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);           
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    /*    display: none !important;*/
    display: none;
    /*    visibility: hidden;*/
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
