/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2014, 8:20:20 PM
    Author     : rogan2929
*/

.row,.col {
    overflow: hidden;
    position: absolute;
}

.row {
    left: 0;
    right: 0;
}

.col {
    top: 0;
    bottom: 0;
}

.scroll-x {
    overflow-x: auto
}

.scroll-y {
    overflow-y: auto
}

.scroll-x,.scroll-y {
    -webkit-overflow-scrolling: touch
}

.header.row {
    height: 50px;
    line-height: 50px;
    top: 0;
}

.header {
/*    border-bottom: 1px solid black*/
}

.control.row {
    height: 50px;
    line-height: 60px;
    top: 60px;
}

.left.col {
    left: 0;
    right: 400px;
}

.right.col {
    width: 400px;
    right: 0;
}

.body.row {
    top: 110px;
    bottom: 0;
}

.border {
    border: 1px solid #ccc
}

.ad.row {
    height: 130px;
    bottom: 0;
    border: red dashed;
}

div.button-menu-main {
/*    top: 5px;
    right: 5px;
    float: right;*/
}

div.toolbar {
    margin-left: 5px;
    float: left;
}

div.right-toolbar {
    margin-right: 5px;
    float: right;
}

.toolbar-button {
    margin-left: 5px;
}

div.button-menu-groups {
    min-width: 100px;
}

.post-tile {
    width: 130px;
    height: 130px;
    margin: 20px;
    background-color: blue;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

#group-feed-posts .ui-selecting { 
    border: 10px solid #FECA40; 
    margin: 10px;
}

#group-feed-posts .ui-selected { 
    border: 10px solid #F39814; 
    color: white; 
    margin: 10px;
}